<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Portable Cell Initiative</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body>
	<h1>TITLE</h1>
	{% for url in tweets %}
	<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="{{ url }}"></a></blockquote>
	{% endfor %}
</body>
</html>